<div class="jumbotron">
<div class="row">
  <div class="col-md-6">
    <div style="display: block;">
    <canvas baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <div class="col-md-6" style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
    <button (click)="randomize()">CLICK</button>
  </div>
</div>
</div>
<div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
                <button type="button" 
                        class="navbar-toggle collapsed"
                        (click)="toggleStateHome()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Rameshwar Engineering</a>
        </div>
         <div class="collapse navbar-collapse"
              [ngClass]="{ 'in': isIn }">
            <ul class="nav navbar-nav">
              <li><a href="#">Manual Start</a></li>
              <li><a href="#">Manual Stop</a></li>
              <li><a href="#">Cycle Start</a></li>
              <li><a href="#">Shut Down</a></li>
            </ul>
        </div>
    </div>
</nav>
</div>